.DS_Store
streamlinkdetect.xcodeproj/xcuserdata/tedezarize.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
streamlinkdetect.xcodeproj/xcuserdata/tedezarize.xcuserdatad/xcschemes/streamlinkdetect.xcscheme
streamlinkdetect.xcodeproj/xcuserdata/tedezarize.xcuserdatad/xcschemes/xcschememanagement.plist
streamlinkdetect/streamlinkdemo/streamlinkdemo.xcodeproj/xcuserdata/tedezarize.xcuserdatad/xcschemes/streamlinkdemo.xcscheme
streamlinkdetect/streamlinkdemo/streamlinkdemo.xcodeproj/xcuserdata/tedezarize.xcuserdatad/xcschemes/xcschememanagement.plist
build/Release/streamlinkdetect.framework.dSYM/Contents/Info.plist
build/Release/streamlinkdetect.framework.dSYM/Contents/Resources/DWARF/streamlinkdetect
build/Release/streamlinkdetect.framework/Headers
build/Release/streamlinkdetect.framework/Modules
build/Release/streamlinkdetect.framework/Resources
build/Release/streamlinkdetect.framework/Versions/A/Headers/streamlinkdetect.h
build/Release/streamlinkdetect.framework/Versions/A/Headers/streamlinkdetector.h
build/Release/streamlinkdetect.framework/Versions/A/Modules/module.modulemap
build/Release/streamlinkdetect.framework/Versions/A/Resources/Info.plist
build/Release/streamlinkdetect.framework/Versions/A/streamlinkdetect
build/Release/streamlinkdetect.framework/Versions/Current
build/Release/streamlinkdetect.framework/streamlinkdetect
build/streamlinkdetect.build/Release/streamlinkdetect.build/DerivedSources/streamlinkdetect_vers.c
build/streamlinkdetect.build/Release/streamlinkdetect.build/Objects-normal/x86_64/MediaStreamParse.d
build/streamlinkdetect.build/Release/streamlinkdetect.build/Objects-normal/x86_64/MediaStreamParse.dia
build/streamlinkdetect.build/Release/streamlinkdetect.build/Objects-normal/x86_64/MediaStreamParse.o
build/streamlinkdetect.build/Release/streamlinkdetect.build/Objects-normal/x86_64/StreamInfoRetrieval.d
build/streamlinkdetect.build/Release/streamlinkdetect.build/Objects-normal/x86_64/StreamInfoRetrieval.dia
build/streamlinkdetect.build/Release/streamlinkdetect.build/Objects-normal/x86_64/StreamInfoRetrieval.o
build/streamlinkdetect.build/Release/streamlinkdetect.build/Objects-normal/x86_64/ezregex.d
build/streamlinkdetect.build/Release/streamlinkdetect.build/Objects-normal/x86_64/ezregex.dia
build/streamlinkdetect.build/Release/streamlinkdetect.build/Objects-normal/x86_64/ezregex.o
build/streamlinkdetect.build/Release/streamlinkdetect.build/Objects-normal/x86_64/streamlinkdetect.LinkFileList
build/streamlinkdetect.build/Release/streamlinkdetect.build/Objects-normal/x86_64/streamlinkdetect_dependency_info.dat
build/streamlinkdetect.build/Release/streamlinkdetect.build/Objects-normal/x86_64/streamlinkdetect_vers.d
build/streamlinkdetect.build/Release/streamlinkdetect.build/Objects-normal/x86_64/streamlinkdetect_vers.dia
build/streamlinkdetect.build/Release/streamlinkdetect.build/Objects-normal/x86_64/streamlinkdetect_vers.o
build/streamlinkdetect.build/Release/streamlinkdetect.build/Objects-normal/x86_64/streamlinkdetector.d
build/streamlinkdetect.build/Release/streamlinkdetect.build/Objects-normal/x86_64/streamlinkdetector.dia
build/streamlinkdetect.build/Release/streamlinkdetect.build/Objects-normal/x86_64/streamlinkdetector.o
build/streamlinkdetect.build/Release/streamlinkdetect.build/dgph
build/streamlinkdetect.build/Release/streamlinkdetect.build/dgph~
build/streamlinkdetect.build/Release/streamlinkdetect.build/module.modulemap
build/streamlinkdetect.build/Release/streamlinkdetect.build/streamlinkdetect-all-non-framework-target-headers.hmap
build/streamlinkdetect.build/Release/streamlinkdetect.build/streamlinkdetect-all-target-headers.hmap
build/streamlinkdetect.build/Release/streamlinkdetect.build/streamlinkdetect-generated-files.hmap
build/streamlinkdetect.build/Release/streamlinkdetect.build/streamlinkdetect-own-target-headers.hmap
build/streamlinkdetect.build/Release/streamlinkdetect.build/streamlinkdetect-project-headers.hmap
build/streamlinkdetect.build/Release/streamlinkdetect.build/streamlinkdetect.hmap
build/streamlinkdetect.build/all-product-headers.yaml