.DS_Store
streamlinkdetect.xcodeproj/xcuserdata/tedezarize.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
streamlinkdetect.xcodeproj/xcuserdata/tedezarize.xcuserdatad/xcschemes/streamlinkdetect.xcscheme
streamlinkdetect.xcodeproj/xcuserdata/tedezarize.xcuserdatad/xcschemes/xcschememanagement.plist
streamlinkdetect/streamlinkdemo/streamlinkdemo.xcodeproj/xcuserdata/tedezarize.xcuserdatad/xcschemes/streamlinkdemo.xcscheme
streamlinkdetect/streamlinkdemo/streamlinkdemo.xcodeproj/xcuserdata/tedezarize.xcuserdatad/xcschemes/xcschememanagement.plist