.DS_Store
streamlinkdetect.xcodeproj/xcuserdata/tedezarize.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
streamlinkdetect.xcodeproj/xcuserdata/tedezarize.xcuserdatad/xcschemes/streamlinkdetect.xcscheme
streamlinkdetect.xcodeproj/xcuserdata/tedezarize.xcuserdatad/xcschemes/xcschememanagement.plist
streamlinkdetect/streamlinkdemo/streamlinkdemo.xcodeproj/xcuserdata/tedezarize.xcuserdatad/xcschemes/streamlinkdemo.xcscheme
streamlinkdetect/streamlinkdemo/streamlinkdemo.xcodeproj/xcuserdata/tedezarize.xcuserdatad/xcschemes/xcschememanagement.plist
build/Release/streamlinkdetect.framework.dSYM/Contents/Info.plist
build/Release/streamlinkdetect.framework.dSYM/Contents/Resources/DWARF/streamlinkdetect
build/Release/streamlinkdetect.framework/Headers
build/Release/streamlinkdetect.framework/Modules
build/Release/streamlinkdetect.framework/Resources
build/Release/streamlinkdetect.framework/Versions/A/Headers/streamlinkdetect.h
build/Release/streamlinkdetect.framework/Versions/A/Headers/streamlinkdetector.h
build/Release/streamlinkdetect.framework/Versions/A/Modules/module.modulemap
build/Release/streamlinkdetect.framework/Versions/A/Resources/Info.plist
build/Release/streamlinkdetect.framework/Versions/A/streamlinkdetect
build/Release/streamlinkdetect.framework/Versions/Current
build/Release/streamlinkdetect.framework/streamlinkdetect
build/streamlinkdetect.build/Release/streamlinkdetect.build/DerivedSources/streamlinkdetect_vers.c
build/streamlinkdetect.build/Release/streamlinkdetect.build/Objects-normal/x86_64/MediaStreamParse.d
build/streamlinkdetect.build/Release/streamlinkdetect.build/Objects-normal/x86_64/MediaStreamParse.dia
build/streamlinkdetect.build/Release/streamlinkdetect.build/Objects-normal/x86_64/MediaStreamParse.o
build/streamlinkdetect.build/Release/streamlinkdetect.build/Objects-normal/x86_64/StreamInfoRetrieval.d
build/streamlinkdetect.build/Release/streamlinkdetect.build/Objects-normal/x86_64/StreamInfoRetrieval.dia
build/streamlinkdetect.build/Release/streamlinkdetect.build/Objects-normal/x86_64/StreamInfoRetrieval.o
build/streamlinkdetect.build/Release/streamlinkdetect.build/Objects-normal/x86_64/ezregex.d
build/streamlinkdetect.build/Release/streamlinkdetect.build/Objects-normal/x86_64/ezregex.dia
build/streamlinkdetect.build/Release/streamlinkdetect.build/Objects-normal/x86_64/ezregex.o
build/streamlinkdetect.build/Release/streamlinkdetect.build/Objects-normal/x86_64/streamlinkdetect.LinkFileList
build/streamlinkdetect.build/Release/streamlinkdetect.build/Objects-normal/x86_64/streamlinkdetect_dependency_info.dat
build/streamlinkdetect.build/Release/streamlinkdetect.build/Objects-normal/x86_64/streamlinkdetect_vers.d
build/streamlinkdetect.build/Release/streamlinkdetect.build/Objects-normal/x86_64/streamlinkdetect_vers.dia
build/streamlinkdetect.build/Release/streamlinkdetect.build/Objects-normal/x86_64/streamlinkdetect_vers.o
build/streamlinkdetect.build/Release/streamlinkdetect.build/Objects-normal/x86_64/streamlinkdetector.d
build/streamlinkdetect.build/Release/streamlinkdetect.build/Objects-normal/x86_64/streamlinkdetector.dia
build/streamlinkdetect.build/Release/streamlinkdetect.build/Objects-normal/x86_64/streamlinkdetector.o
build/streamlinkdetect.build/Release/streamlinkdetect.build/dgph
build/streamlinkdetect.build/Release/streamlinkdetect.build/dgph~
build/streamlinkdetect.build/Release/streamlinkdetect.build/module.modulemap
build/streamlinkdetect.build/Release/streamlinkdetect.build/streamlinkdetect-all-non-framework-target-headers.hmap
build/streamlinkdetect.build/Release/streamlinkdetect.build/streamlinkdetect-all-target-headers.hmap
build/streamlinkdetect.build/Release/streamlinkdetect.build/streamlinkdetect-generated-files.hmap
build/streamlinkdetect.build/Release/streamlinkdetect.build/streamlinkdetect-own-target-headers.hmap
build/streamlinkdetect.build/Release/streamlinkdetect.build/streamlinkdetect-project-headers.hmap
build/streamlinkdetect.build/Release/streamlinkdetect.build/streamlinkdetect.hmap
build/streamlinkdetect.build/all-product-headers.yaml
build/Release/streamlinkdetect.framework/Versions/A/Resources/streamlink Installer.app/Contents/Info.plist
build/Release/streamlinkdetect.framework/Versions/A/Resources/streamlink Installer.app/Contents/MacOS/streamlink Installer
build/Release/streamlinkdetect.framework/Versions/A/Resources/streamlink Installer.app/Contents/PkgInfo
build/Release/streamlinkdetect.framework/Versions/A/Resources/streamlink Installer.app/Contents/Resources/Base.lproj/MainMenu.nib
build/Release/streamlinkdetect.framework/Versions/A/Resources/streamlink Installer.app/Contents/Resources/Base.lproj/streamlinkinstall.nib
build/Release/streamlinkdetect.framework/Versions/A/Resources/streamlink Installer.app/Contents/_CodeSignature/CodeResources
streamlink Installer/build/Release/streamlink Installer.app.dSYM/Contents/Info.plist
streamlink Installer/build/Release/streamlink Installer.app.dSYM/Contents/Resources/DWARF/streamlink Installer
streamlink Installer/build/Release/streamlink Installer.app/Contents/Info.plist
streamlink Installer/build/Release/streamlink Installer.app/Contents/MacOS/streamlink Installer
streamlink Installer/build/Release/streamlink Installer.app/Contents/PkgInfo
streamlink Installer/build/Release/streamlink Installer.app/Contents/Resources/Base.lproj/MainMenu.nib
streamlink Installer/build/Release/streamlink Installer.app/Contents/Resources/Base.lproj/streamlinkinstall.nib
streamlink Installer/build/Release/streamlink Installer.app/Contents/_CodeSignature/CodeResources
streamlink Installer/build/streamlink Installer.build/Release/streamlink Installer.build/MainMenu-PartialInfo.plist
streamlink Installer/build/streamlink Installer.build/Release/streamlink Installer.build/Objects-normal/x86_64/AppDelegate.d
streamlink Installer/build/streamlink Installer.build/Release/streamlink Installer.build/Objects-normal/x86_64/AppDelegate.dia
streamlink Installer/build/streamlink Installer.build/Release/streamlink Installer.build/Objects-normal/x86_64/AppDelegate.o
streamlink Installer/build/streamlink Installer.build/Release/streamlink Installer.build/Objects-normal/x86_64/main.d
streamlink Installer/build/streamlink Installer.build/Release/streamlink Installer.build/Objects-normal/x86_64/main.dia
streamlink Installer/build/streamlink Installer.build/Release/streamlink Installer.build/Objects-normal/x86_64/main.o
streamlink Installer/build/streamlink Installer.build/Release/streamlink Installer.build/Objects-normal/x86_64/streamlink Installer.LinkFileList
streamlink Installer/build/streamlink Installer.build/Release/streamlink Installer.build/Objects-normal/x86_64/streamlink Installer_dependency_info.dat
streamlink Installer/build/streamlink Installer.build/Release/streamlink Installer.build/Objects-normal/x86_64/streamlinkinstall.d
streamlink Installer/build/streamlink Installer.build/Release/streamlink Installer.build/Objects-normal/x86_64/streamlinkinstall.dia
streamlink Installer/build/streamlink Installer.build/Release/streamlink Installer.build/Objects-normal/x86_64/streamlinkinstall.o
streamlink Installer/build/streamlink Installer.build/Release/streamlink Installer.build/dgph
streamlink Installer/build/streamlink Installer.build/Release/streamlink Installer.build/dgph~
streamlink Installer/build/streamlink Installer.build/Release/streamlink Installer.build/streamlink Installer-all-non-framework-target-headers.hmap
streamlink Installer/build/streamlink Installer.build/Release/streamlink Installer.build/streamlink Installer-all-target-headers.hmap
streamlink Installer/build/streamlink Installer.build/Release/streamlink Installer.build/streamlink Installer-generated-files.hmap
streamlink Installer/build/streamlink Installer.build/Release/streamlink Installer.build/streamlink Installer-own-target-headers.hmap
streamlink Installer/build/streamlink Installer.build/Release/streamlink Installer.build/streamlink Installer-project-headers.hmap
streamlink Installer/build/streamlink Installer.build/Release/streamlink Installer.build/streamlink Installer.hmap
streamlink Installer/build/streamlink Installer.build/Release/streamlink Installer.build/streamlinkinstall-PartialInfo.plist
streamlink Installer/build/streamlink Installer.build/all-product-headers.yaml